--extra-index-url https://download.pytorch.org/whl/cu118

omegaconf==2.3.0
jaxtyping==0.2.19
typeguard==4.1.5
git+https://github.com/KAIR-BAIR/nerfacc.git@v0.3.3
pyrender==0.1.45
git+https://github.com/NVlabs/tiny-cuda-nn/@212104156403bd87616c1a4f73a1c5f2c2e172a9#subdirectory=bindings/torch
diffusers[torch]==0.19.3
transformers==4.28.1
accelerate==0.24.1
opencv-python==4.8.1.78
tensorboard==2.14.0
matplotlib==3.7.4
imageio==2.33.0
imageio[ffmpeg]==2.33.0
git+https://github.com/NVlabs/nvdiffrast.git@c5caf7bdb8a2448acc491a9faa47753972edd380
libigl==2.5.0
xatlas==0.0.8
trimesh[easy]==4.0.5
networkx==3.1
pysdf==0.1.9
PyMCubes==0.1.4
wandb==0.16.0
gradio==3.50.2
git+https://github.com/ashawkey/envlight.git@ef492c03711c87287549a0283ee51199f45cbea4
torchmetrics==1.2.0

# deepfloyd
xformers==0.0.22.post7+cu118
bitsandbytes==0.38.1
sentencepiece==0.1.99
safetensors==0.4.1
huggingface_hub==0.16.4

# for zero123
einops==0.7.0
kornia==0.7.0
taming-transformers-rom1504==0.0.6
git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33

#controlnet
controlnet_aux==0.0.7

#vis
torch_efficient_distloss==0.1.3
mediapy==1.1.9
plyfile==1.0.2
rembg==2.0.52
git+https://github.com/ashawkey/kiuikit@b8956670173c8785118a1db474a10d987b76fc8c
scikit-learn==1.3.2
scipy==1.10.1
ninja==1.11.1.1
easydict==1.11
albumentations==0.5.2
webdataset==0.2.79
git+https://github.com/luca-medeiros/lang-segment-anything.git@134a48a81ebd691686187ecce2d016fb327a8852


# gaussian splatting
gaussiansplatting/submodules/diff-gaussian-rasterization
gaussiansplatting/submodules/simple-knn